{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% comment 'css' %}
        {% block css %}{% endblock css %}
    {% endcomment %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MyBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block homeactive %}{% endblock homeactive %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% block blogactive %}{% endblock blogactive %}">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                {% if authenticated %}
                    <li class="nav-item {% block contactactive %}{% endblock contactactive %}">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown {% block accountactive %}{% endblock accountactive %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Account
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/profile">Account Blogs</a>
                            <a class="dropdown-item" href="/editor">Editor</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {% block loginactive %}{% endblock loginactive %}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% endif %}
            </ul>
            <!-- Search Bar -->
            <form class="form-inline my-2 my-lg-0 {% block searchbar %}{% endblock searchbar %}" action="/search" method="GET">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <!-- Footer -->
    <footer class="text-center text-light bg-dark py-4 {% block fixedfooter %}{% endblock fixedfooter %} {% block showfooter %}{% endblock showfooter %}">Copyright MyBlog &copy; 2020 | All rights reserved</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, Popper then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>